@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5 text-center">
    <h1 class="display-3 text-primary mb-4">INVEON BOOTCAMP</h1>
    <h2 class="display-4 text-dark mb-3">2. Ödev</h2>
   
</div>
