
@{
    ViewData["Title"] = "Edit";
}

@model AdminModel.EditUserViewModel

<div class="container py-5">
    <h2 class="text-center mb-4">Kullanıcı Düzenle</h2>

  
    @if (ViewData["SuccessMessage"] != null)
    {
        <div class="alert alert-info" role="alert">
            @ViewData["SuccessMessage"]
        </div>
    }

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group mb-3">
            <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Kaydet</button>
            <a asp-action="UserList" class="btn btn-secondary">İptal</a>
        </div>
    </form>
</div>

