
@{
    ViewData["Title"] = "Index";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-3 text-primary mb-4">
                Admin Paneline Hoş Geldiniz
            </h1>
            <p class="lead text-muted">
                Yönetici panelinizi başarıyla açtınız. Buradan tüm kullanıcıları yönetebilir ve sistem üzerinde işlemler yapabilirsiniz.
            </p>

          

        </div>
    </div>
</div>